.slides {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    transform: inherit !important;
}

.slide_content {
    margin-left:100px !important;
    margin-top:30px !important;
    text-align: left;
}

h3.pres_title {
    margin: 0px 150px 0px 150px;
}

h3.slide_title {
    font-weight: 600;
}


.sidenav {
    height: 70px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.sidenav .step {
    color: white;
    font-size: 24px;
    margin: 0;
    justify-content: center; 
    display: flex;
    background-color: #585858;
    width: 100%;
    border-left: 1.5px solid white;
}

.sidenav .step p {
    padding: 0 30px 0 30px;
    font-size: 18px;
}

.sidenav .current {
    background-color: black;
}

/* .hljs {
    width: 700px !important;
} */